<!DOCTYPE html>
<html>
    <head>
        <title>Tino Tutors</title>
        <link rel="stylesheet" href="/staticFiles/home.css">
        <script src="https://kit.fontawesome.com/346dc8b92a.js" crossorigin="anonymous"></script>
    </head>

<script type="text/javascript">
    function submit()
    {
        console.log("ran");
       var question = document.getElementById("questionBox").value;
       var temp = document.getElementById("thread").value;
       document.getElementById('thread').textContent = question + "\r\n" + document.getElementById("thread").textContent;
    }
</script>

<body>

    <div class="topnav">
        <a class="active" href="/"><i class="fa-solid fa-house"></i>  Home</a>
        <a href="/form"><i class="fa-solid fa-address-book"></i>  About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
      </div>

    <INPUT TYPE="text" id="questionBox" value=""/>
    <button onclick="submit();">submit</button>

    <p id="thread"></p>
</body>
</html>