{% extends "base.html" %}

{% block title %}test{% endblock %}

{% block head %}
{{ super() }}
<style>
.questionsAndReplies {
    width:550px;
    padding: 2em 0 2em 0;
    border:solid 5px #F1F1F1;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background-color: #AFC8DE;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
</style>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='APIReturn.js') }}"></script>
<script src="{{ url_for('static',filename='display.js') }}"></script>
{% endblock %}

{% block body %}
{% if session %}

{{ super() }}
<!--
<div class = "questionsAndReplies">
<div class="input d-flex flex-column align-items-center justify-content-center">
  <INPUT TYPE="text" id="questionBox" value="" placeholder="Enter Question Here: "><br>
  <button onclick="submit();" id="submitButton">submit</button>

</div>

<div class="input d-flex flex-column align-items-center justify-content-center">
  <INPUT TYPE="text" id="replyBox" value="" placeholder="Enter Question Here: "><br>
  <button onclick="submitReply()" id="repliesButton">reply</button>
</div>

<div id="questions" class="d-flex flex-column align-items-center justify-content-center"></div>
</div>
-->
      <div class="col-md-8 mx-auto row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 w-50" id = "questionArea" >
        <!--Where all the question boxes go-->
      </div>
{% else %}
<p><a href="/login" id="qsLoginBtn">Login</a></p>
{% endif %}
{% endblock %}