{% extends "base.html" %}

{% block title %}TinoTutor{% endblock %}

{% block head %}
{{ super() }}
<style>

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
</style>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='APIReturn.js') }}"></script>
<script src="{{ url_for('static',filename='display.js') }}"></script>
{% endblock %}

{% block body %}
{% if session %}

{{ super() }}
      <div id = "restArea">
        <!--Where all the stuff boxes go-->
      </div>
{% else %}
<p><a href="/login" id="qsLoginBtn">Login</a></p>
{% endif %}
{% endblock %}