{% extends "base.html" %}
{% block title %}test{% endblock %} 
{% block body %}
    <h1>Index</h1>
    <p class="important">
      Welcome to my awesome homepage.
    </p>
    {{ super() }}
{% endblock %}