{% extends "base.html" %}
{% block title %}test 
<script type="text/javascript">
    window.onload = function(){ 
    
    function submit(){

        console.log("ran");
        var question = document.getElementById("questionBox").value;
        
        finalQuestionbox(question);

    }

    function finalQuestionbox(q){
        var element = document.createElement("div");
        element.appendChild(document.createTextNode(q));
        element.id = "out";
        document.getElementById('questions').appendChild(element);
    }

    document.getElementById('submitButton').onclick = function(){
        //document.getElementById("questionBox").value
        fetch('/api/question/post', {
            // Declare what type of data we're sending
            headers: {
                'Content-Type': 'application/json'
            },

            // Specify the method
            method: 'POST',

            // A JSON payload
            body: JSON.stringify({
                "Question": document.getElementById("questionBox").value
            })
        })
        .then(response => console.log("why is this an error"))
        .then(response => console.log(JSON.stringify(response)))
    }
        
    
};


</script>



    <!--INPUT QUESTION BOX-->
    <div class = "input d-flex flex-column align-items-center justify-content-center">
        <INPUT TYPE="text" id="questionBox" value="" placeholder="Enter Question Here: "><br>
            <button onclick="submit();" id="submitButton">submit</button>
    </div>

    <!--OUTPUT BOX/WHERE YOU SEE QUESTIONS-->
    <div id="questions" class="d-flex flex-column align-items-center justify-content-center"></div>


{% endblock %}